.titulo-principal{
	text-align: center;
	color: #155A87;
	margin: 30px;
}

.titulo-secundario{
	text-align: center;
	color: #155A87;
	margin: 30px;
}

.boton{
	width: 150px;
	height: 35px;
	font-size: 18px;
	margin: 20px;
	border-radius: 5px;
	color: #fff;
	background-color: #155A87;
}

.panel-operacion{
	margin-top:40px;
}