<!DOCTYPE HTML>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://xmlns.jcp.org/jsf/core">	
<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />    
    <title>Cliente REST</title>
    <link href="#{request.contextPath}/css/bootstrap.min.css" rel="stylesheet" />
</h:head>
<h:body>
	<h:form id="form" class="form-horizontal">  
		<div class="form-group">  
			<div class="col-sm-2"></div>  
			<h2 style="text-align: center" class="col-sm-4">Consumir endpoint REST de consulta</h2>  
		</div>  
		
		<div class="form-group">  
			<div class="col-sm-2"></div>  
			<div class="col-sm-4">  
				<center><h:commandButton value="Ejecutar" action="#{consultaBean.ejecutar()}" class="btn btn-primary" style="width: 80px;" reRender="resltado"></h:commandButton></center>  
			</div>  
		</div>
		
		<div class="form-group">   
			<div class="col-sm-4"> 
				<h:outputLabel id="resultado" value="#{consultaBean.resultado}"></h:outputLabel>
			</div>
		</div> 
	</h:form>
</h:body>
</html>