<!DOCTYPE HTML>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://xmlns.jcp.org/jsf/core">	
<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />    
    <title>Cliente SOAP</title>
    <link href="#{request.contextPath}/css/bootstrap.min.css" rel="stylesheet" />
</h:head>
<h:body>
	<h:form id="form" class="form-horizontal">  
	<div class="form-group">  
		<div class="col-sm-2"></div>  
			<h2 style="text-align: center" class="col-sm-4">Consumir endpoint SOAP de calculadora</h2>  
		</div>  
		<hr/>  
		<div class="form-group">  
			<h:outputLabel for="numero-1" class="control-label col-sm-2">Número 1:</h:outputLabel>  
			<div class="col-sm-4">  
				<h:inputText id="numero-1" value = "#{operacionBean.intA}" class="form-control"/>  
			</div>  
		</div>  
		<div class="form-group">  
			<h:outputLabel for="numero-2" class="control-label col-sm-2">Número 2:</h:outputLabel>  
			<div class="col-sm-4">  
				<h:inputText id="numero-2" value = "#{operacionBean.intB}" class="form-control"/>  
			</div>  
		</div>
		
		<div class="form-group">  
			<h:outputLabel class="control-label col-sm-2">operación:</h:outputLabel>  
			<div class="col-sm-4">  
				<h:selectOneMenu class="form-control" value = "#{operacionBean.tipoOperacion}"> 
				   <f:selectItem itemValue = "suma" itemLabel = "Suma" /> 
				   <f:selectItem itemValue = "resta" itemLabel = "Resta" /> 
				   <f:selectItem itemValue = "multiplicacion" itemLabel = "Multiplicación" /> 
				   <f:selectItem itemValue = "division" itemLabel = "División" /> 
				</h:selectOneMenu> 
			</div>  
		</div>
		
		<div class="form-group">  
			<div class="col-sm-2"></div>  
			<div class="col-sm-4">  
				<center><h:commandButton value="Ejecutar" action="#{operacionBean.ejecutar()}" class="btn btn-primary" style="width: 80px;" reRender="resltado"></h:commandButton></center>  
			</div>  
		</div>
		
		<div class="form-group">   
			<div class="col-sm-4"> 
				<h:outputLabel id="resultado" value="#{operacionBean.resultado}"></h:outputLabel>
			</div>
		</div> 
	</h:form>
</h:body>
</html>